// Fonts
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Raleway:wght@100;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');
$abhayaLibre: 'Abhaya Libre', serif;
$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;
// Colors
$white: #ffffffff;
$primary: #313131;
$green: #25a4ad;
$grey: #f8f8f8;

// Animations

@keyframes open {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes open-after {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes close {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes close-after {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
        transform: translateY(0.5rem);
    }
}

//RWD 450px, 700px, 1050px, 1400px
$breakpoints: (
    'sm': '28.125rem',
    'md': '43.75rem',
    'lg': '65.625rem',
    'xl': '87.5rem',
);

@mixin breakpointMax($screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
        @content;
    }
}
